<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random Movie Generator</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="icon" href="/assets/movieIcon.png" type="image/png">
  </head>
  <body style="background-color: #20202d">
    <div class="main-container">
      <div class="nav">
        <a href="/" style="text-decoration: none;"><h1>Random Movie Generator</h1></a>
      </div>
      <h2 style="text-align: center;">Can't decide on what movie to watch?</h2>
      <h4 class="">Randomize a movie with your select preferences</h4>
      <h6 class="mb-4">Select up to 3 genres</h6>
      <!-- <form action="/random" method="post">
        <button id="random-btn" type="submit">Random</button>
        <div><input type="checkbox" name="action" id="28" >
        <label for="action" class="btn-checkbox">Action</label></div>
        
        <input type="checkbox" name="adventure" id="12" oninput="toggleButtonActive(this)">
        <label for="adventure"class="btn-checkbox">Adventure</label>
      </form> -->
      <button id="random-btn">Random</button>

      <div class="categories-checkbox">
        <button
          class="btn-checkbox <% if (locals.selectedCategories) { %> <%= selectedCategories.includes('28') ? 'active' : '' %> <% } %>"
          id="28"
        >
          Action
        </button>
        <button
          class="btn-checkbox <% if (locals.selectedCategories) { %> <%= selectedCategories.includes('12') ? 'active' : '' %> <% } %>"
          id="12"
        >
          Adventure
        </button>
        <button
          class="btn-checkbox <% if (locals.selectedCategories) { %> <%= selectedCategories.includes('16') ? 'active' : '' %> <% } %>"
          id="16"
        >
          Animation
        </button>
        <button
          class="btn-checkbox <% if (locals.selectedCategories) { %> <%= selectedCategories.includes('35') ? 'active' : '' %> <% } %>"
          id="35"
        >
          Comedy
        </button>
        <button
          class="btn-checkbox <% if (locals.selectedCategories) { %> <%= selectedCategories.includes('80') ? 'active' : '' %> <% } %>"
          id="80"
        >
          Crime
        </button>
        <button
          class="btn-checkbox <% if (locals.selectedCategories) { %> <%= selectedCategories.includes('99') ? 'active' : '' %> <% } %>"
          id="99"
        >
          Documentary
        </button>
        <button
          class="btn-checkbox <% if (locals.selectedCategories) { %> <%= selectedCategories.includes('18') ? 'active' : '' %> <% } %>"
          id="18"
        >
          Drama
        </button>
        <button
          class="btn-checkbox <% if (locals.selectedCategories) { %> <%= selectedCategories.includes('10751') ? 'active' : '' %> <% } %> btn-hidden hidden"
          id="10751"
        >
          Family
        </button>
        <button
          class="btn-checkbox <% if (locals.selectedCategories) { %> <%= selectedCategories.includes('27') ? 'active' : '' %> <% } %> btn-hidden hidden"
          id="27"
        >
          Horror
        </button>
        <button
          class="btn-checkbox <% if (locals.selectedCategories) { %> <%= selectedCategories.includes('10402') ? 'active' : '' %> <% } %> btn-hidden hidden"
          id="10402"
        >
          Music
        </button>
        <button
          class="btn-checkbox <% if (locals.selectedCategories) { %> <%= selectedCategories.includes('9648') ? 'active' : '' %> <% } %> btn-hidden hidden"
          id="9648"
        >
          Mystery
        </button>
        <button
          class="btn-checkbox <% if (locals.selectedCategories) { %> <%= selectedCategories.includes('10749') ? 'active' : '' %> <% } %> btn-hidden hidden"
          id="10749"
        >
          Romance
        </button>
        <button
          class="btn-checkbox <% if (locals.selectedCategories) { %> <%= selectedCategories.includes('878') ? 'active' : '' %> <% } %> btn-hidden hidden"
          id="878"
        >
          Sci-Fi
        </button>
        <button
          class="btn-checkbox <% if (locals.selectedCategories) { %> <%= selectedCategories.includes('53') ? 'active' : '' %> <% } %> btn-hidden hidden"
          id="53"
        >
          Thriller
        </button>
        <button
          class="btn-checkbox <% if (locals.selectedCategories) { %> <%= selectedCategories.includes('10752') ? 'active' : '' %> <% } %> btn-hidden hidden"
          id="10752"
        >
          War
        </button>
        <button class="" id="more-btn">
          <i id="more-btn-sign" class="bx bx-plus-medical"></i>
        </button>
      </div>
      <% if (locals.data) { %>

      <div class="movie-container">
        <div class="left-side">
          <img src="<%= data.posterImg %>" alt="Poster Image" id="poster-image"/>
        </div>
        <div class="right-side">
          <!-- Title -->
          <h2 id="movie-title"><%= data.title %></h2>
          <!-- Categories -->
          <div class="movie-category-container ml-0 my-4">
            <% for( let i = 0; i < data.genresList.length; i++ ) { %>
            <span class="movie-category"
              ><strong><%=data.genresList[i]%></strong></span
            >
            <% } %>
          </div>

          <!-- Overview -->
          <h4><strong>Overview</strong></h4>
          <p><%= data.overview %></p>
          <!-- Release Date -->
          <p><strong>Release Date: </strong><%= data.releaseDate %></p>
          <!-- RunTime -->
          <p><strong>Runtime: </strong><%= data.runtime %></p>
          <!-- Providers -->
          <!-- <span>Netflix</span>
          <span>Hulu</span> -->
          <h4>Trailer</h4>
          <% if (data.trailer) { %> <%- data.trailer %> <% } else{%>
          <p>No trailer available</p>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="/script/script.js"></script>
  </body>
</html>
